.*
!.htaccess
!.gitignore
*~

nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
local_settings.php
/modules/hello/
/media/userpics/
/media/thumbs/